@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Vidaloka', serif;
}


.form {
  position: absolute;
  border-style: solid;
  border-color: rgb(177, 176, 176);
  border-radius: 10px;
  width: 90%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 1rem;
}

.form__label {
    float: left;
    margin-right: 1rem;

    text-align: center;
    margin-top: .4rem;
    margin-bottom: .4rem;

}
.form__input {
  float: left;
  height: 2rem;
  padding-left: .7rem;

}
.form__button {
  float: right;
  width: 5rem;
  height: 2rem;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
}
.form__button:hover{
  background:grey ;
  color: aliceblue;
}

.instruction {
  /* display: none; */
  position: absolute;
  border-style: solid;
  border-color: rgb(177, 176, 176);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50% -50%) scale(0.9);
  background-color: white;
}

.instruction.instruction__active {
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50% -50%) scale(1);
} 



.instruction__text {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: .5rem;
  padding-right: .5rem;
}

.instruction__text--details {
  text-align: center;
}
.instruction__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.instruction__buttons--exit,
.instruction__buttons--continue {
  margin-left: .5rem;
  width: 5rem;
  border: none;
  padding-bottom: .3rem;
  padding-top: .3rem;
  border-radius: 5px;
  height: 2.5rem;
  outline: none;
  cursor: pointer;
}

.instruction__buttons--exit:hover,
.instruction__buttons--continue:hover {
  background:grey ;
  color: aliceblue;
  border-radius: 5px;
}

.container {
  position: absolute;
  border-style: solid;
  border-color: rgb(177, 176, 176);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50% -50%) scale(0.9);
  background-color: white;
}

.container.container__active {
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50% -50%) scale(1);
}

.header {
  position: relative;
  z-index: 99;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid;
  border-color: rgb(177, 176, 176);;
}
.header__title {
  padding-left: 1rem ;
}
.header__timer {
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.header__timer--text {
  padding-right: .5rem;
}

.header__timer--seconds {
  padding-left: .5rem;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
}

.question__img img{
 width: 80%;
}

.question__options {
  width: 87%;
  padding: 1rem 1rem;
  display: block;

}


.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(218, 218, 218);
  list-style: none;
  border-style: none;
  height: 2.5rem;
  margin-bottom: .5rem;
  border-radius: 5px;;
  padding: .5rem 1rem;
  cursor: pointer;
}

.option__correct {
  /* color: rgba(128, 255, 0, 0.733); */
  background: rgba(188, 250, 125, 0.801);

}

.option__incorrect {
background: rgba(243, 96, 96, 0.89);
}

.option__disabled {
  pointer-events: none;
}


.option:hover{
  /* color:rgb(219, 218, 218); */
  /* background:rgb(219, 218, 218); */
  /* color: aliceblue; */
}

.tick {
  /* color: rgba(38, 75, 1, 0.589); */
  color: rgb(73, 73, 73);
}

.tick:after {
  content: "Correct ";
}
.cross {
  color: white;
}
.cross:after {
  content: "Wrong ";
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  width: 100%;
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.footer__text span{
  display: flex;
}

.footer__text p {
  padding-left: .2rem;
  padding-right: .2rem;
}

.footer__button {
  height: 2rem;
  width: 5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer__button:hover{
  background:grey ;
  color: aliceblue;

}

.results {
  
    /* display: none; */
    position: absolute;
    border-style: solid;
    border-color: rgb(177, 176, 176);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50% -50%) scale(0.9);
    background-color: white;
    
} 

.result__icon {
  font-size: 2rem;
}

.result__score--text {
  display: flex;
  margin-top: .7rem;
  margin-bottom: 1rem;
}

.result__score--text p {
  padding-left: .2rem;
  padding-right: .2rem;
}

.result__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result__buttons--restart {
  margin-right: .5rem;
  width: 5rem;
  border: none;
  padding-bottom: .3rem;
  padding-top: .3rem;
  border-radius: 5px;
  height: 2.5rem;
  outline: none;
  cursor: pointer;

}

.result__buttons--quit {
  margin-left: .5rem;
  width: 5rem;
  border: none;
  padding-bottom: .3rem;
  padding-top: .3rem;
  border-radius: 5px;
  height: 2.5rem;
  outline: none;
  cursor: pointer;

}

.result__buttons--restart:hover,
.result__buttons--quit:hover {
  background:grey ;
  color: aliceblue;
  border-radius: 5px;

}


